*,
*::after,
*::before {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.block {
    width: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background: green;
    position: relative;
}

.cube {
    width: 100px;
    height: 100px;
    border: 1px solid#000;
}

.static {
    background: rgb(132, 130, 130);
    position: static;  
}

.relative {
    background: rgb(207, 123, 123);
    position: relative;      
}

.absolute {
    background: rgb(145, 227, 82);
    position: absolute;
    z-index:2;
    top: 20px;
    left: 20px;
 
}

.fixed {
    background: rgb(24, 48, 179);
    position: fixed;  
    top: 40px;
    bottom: 100px;
    left: 20px;
 
}