@import 'reset';

.accrodion {
    margin: 20px auto;

    .tab {
        border: 1px solid rgb(12, 77, 241);

        >label {
            display: flex;
            background: rgb(30, 0, 255);
            color: #fff;
            padding: 12px;
            font-size: 26px;
            font-weight: 700;
            font-family: monospace;
            cursor: pointer;
            user-select: none;

            &:hover {
                background: #13f165;
            }
        }

        .tab-content {
            padding: 10px;
            display: none;
        }

        >input:checked+.tab-content{
            display: block;
        }
    }


}