@import 'reset';

.page {
    min-height:100vh;
    width:100%;
    background:#dedede;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 700;
    position: relative;
}

.cube {
    width: 150px;
    height: 150px;
    background: yellow;
    position: absolute;

    &.left{
        left: 150px;
    }

    &.right{
        right: 150px;
    }
}